body{

    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin-top: -21px;
   margin-bottom: -9px;
}
.space{
    color:  #22285F;
}

.question_display{

   
    height: 669px;   
    background-color: #22285F;
 
    
    /*background-image: linear-gradient(#5E6CDC,#04082C);*/
}

.final_score_section{

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: white;

}

.questions-section{

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 87px;
    text-align: center;

    color: white;

}


.answer-section{

    text-align: center;
    display:inline-block;
    width: 50%;
}

.answer-button{
   
    margin: 4px;
    width: 320px;
    height: 60px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 9px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;    
    align-items: center;
    
    color: #000000;
}

.onNext{
    margin: 5px;   
    width: 73px;
    height: 53px;
    left: 751px;
    top: 744px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    
    background: rgba(0, 255, 132, 0.64);
    border-radius: 0px 9px 9px 0px;
}
.onend{
    width: 63px;
    height: 53px;
    left: 677px;
    top: 744px;
    background: #975252;
    border-radius: 9px 0px 0px 9px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: white;

}


.showMessage{

    color: rgb(39, 189, 59);
    font-size: 15px;
    
}

.showMessage2{

    color: rgb(226, 17, 17);
    font-size: 15px;
    
}
.timer{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #3C437E;
    font-size: 16px;
    
    border-radius: 20px;
    border: #3C437E;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;
}
.link{

    color: white;
    text-decoration: none;
}

.score_count{
    
    text-align: right;
    align-items: flex-end;
}

.audio_time_score-section{

    max-width: 100%;
    min-width: 60%;
    height: 60px;
    display: flex;
    text-align: center;
    
}

.audio-section{
  width: 33.3%;

}
.timer-section{
  width: 33.3%;
  
}
.score-section{
  
  width: 33.4%;
  display: flex;


}
.score-section .score_count{


font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 23px;
align-items: center;
text-align: center;
width: 33px;
height: 23px;
left: 37px;
top: 14px;

color: #FFFFFF;
}
.score-section .img{
    
margin-left: 29.17%;
margin-right: 1.17%;
margin-top: 1.58%;
margin-bottom:  0.33%;

}