.Social-title{
      
        color: #22285F;
       font-weight: bold;
       text-align: center;
       font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        margin-top: 90px;
       
}
.title{      
        color: #22285F;
        font-weight: bold;
        text-align: center;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;     
}
.title-two{
        color: #22285F;
        font-weight: bold;
        text-align: center;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em; 
        margin-top: 32px;   
}
.title-three{
        color: #22285F;
        font-weight: bold;
        text-align: center;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em; 
        
}
.btn-modesone{
    background: linear-gradient(to right, #cfd1d8 64%,  #00FF84 64% 36%);   
    color: #22285F;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    border:1px;
    width: 244px;
    text-align: left;
    font-weight: bold; 
    align-items: center;   
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
   letter-spacing: 0em;
   font-size:18px;

}
.btn-modestwo{
        background: linear-gradient(to right, #cfd1d8 64%,#975252 64% 36%);   
    color: #22285F;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    border:1px;
    width: 244px;
    text-align: left;
    font-weight: bold; 
    align-items: center;   
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
   letter-spacing: 0em;
   font-size:18px;

}
.btn-modesthree{
    background: linear-gradient(to right, #cfd1d8 64%, #D3FF55 64% 36%);   
    color: #22285F;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    border:1px;
    width: 244px;
    text-align: left;
    font-weight: bold; 
    align-items: center;   
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
   letter-spacing: 0em;
   font-size:18px;

}
.btn-modes:hover{
        background: #999ba3;
        border-radius: 6px;
}
.btn-play{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 7px 12px;
        position: absolute;
        color: white;
        font-weight: bold;   
        width: 96.67px;
        height: 39px;
        left: 1010px;
        top: 865px;
        background: #34A853;
        border-radius: 9px;
        border-color: #34A853;
    
}
.actions { text-align: right;}

.model {
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          border-radius: 9px;
          background-color: #FFFFFF;
          padding: 1rem;    
          z-index: 10;
          position: fixed;
          top: 20vh;
          left: calc(50% - 10rem);
          height: 304px;
          text-align: center;
          width: 337px;
          z-index:16;
}
.model-two{
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 9px;
        background-color: #FFFFFF;
        padding: 1rem;    
        z-index: 10;
        position: fixed;
        top: 20vh;
        left: calc(50% - 11.5rem);
        
        text-align: center;
        width: 337px;
        z-index:16;     
}
.close-popUp-two{
        float: right; 
        background-color: rgb(13, 13, 114);
        color: white;
        font-weight: bold;
        border-radius: 20px;
        
       
}
.close-popUp-two:hover{
        background-color: #0084ff; 
 }
.close-popUp{
        float: right; 
        background-color: rgb(13, 13, 114);
        color: white;
        font-weight: bold;
        border-radius: 20px;
       
}
.close-popUp:hover{
       background-color: #0084ff; 
}
.onYes{
       background-color: #22285F;
       color: white;
       text-align: center;
       font-weight: bold;
       font-size: 15px;
       width: 90px;
       height: 35px;
       border-radius: 8px;
       border-color: #22285F;
       
}
.onYes:hover{
        background-color: #0084ff;
        border-color: #0084ff;
}


.backdrop {
           position: fixed;
           z-index: 1;
           background-color: rgba(0, 0, 0, 0.75);
           width: 100%;
           height: 100%;
           top: 0;
           left: 0;

}

.button-img{
 height: 15px;
 width: 29px;
 display: inline-block;
 align-items: flex-end;
 display:inline;
 text-align: right;
 margin-left: 150px;
 top:20px;

        
}
.background-img{
 height: 15px;
 width: 29px;
}



.button-imgg{

        height: 15px;
        width: 30px;
        display: inline-block;
        align-items: flex-end;
        display:inline;
        text-align: right;
         margin-left: 150px;
         top:20px;
               
}
.button-imggg{

        height: 15px;
        width: 30px;
        display: inline-block;
        align-items: flex-end;
        display:inline;
        text-align: right;
        margin-left: 60px;
        margin-left: 150px;
        top:20px;
               
}

.playIcon{
        position: static;
        left: 12.41%;
        right: 74.48%;
        top: 26.92%;
        bottom: 26.92%;        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 14px;
        height: 18px;
        width: 12.668075561523438px;
        border-radius: 0px;
       

}
.exit-btn{
     
       
        cursor: pointer;
        background-color: #22285F;
        border-radius: 4px;
        border:1px;
        color: white;
        width: 70px;
        height: 30px;
        text-align: center;
        font-family: Open Sans;
        font-weight: bold;
      
}
.fb{
        margin-right: 30px;
        margin-left: -6px;
}
.twitter{
        margin-right: 30px;
       
}

.blue-btn{
        width: 88px;  
        height: 34px;      
        color: white;
        font-weight: bold;   
        background-color:  #22285F;
        text-align: center;                 
        font-family: sans-serif;
        font-weight: bold;
        font-size: 18px;  
        margin-left: 110px;      
        border-radius: 13px;    
        border:#EAEAEA; 
        cursor: pointer;
}
.blue-btn:hover{
        background: green;
}
.backButton{
        width: 50px;  
        height: 50px;           
        font-family: sans-serif;
        cursor: pointer;
        margin-left: 250px;
        margin-bottom: 0px;  
}
#backButton:hover{
        background: green;
}
.share-btn{
        width: 88px;  
        height: 34px;     
        color: white;
        font-weight: bold;   
        background-color:  #22285F;
        text-align: center;                 
        font-family: sans-serif;
        font-weight: bold;
        font-size: 18px;        
        Line-height: 25px;
        Line-height: 100%;         
        margin-left: 20px;
        margin-top: 0px;
        border-radius: 13px;    
        border:#EAEAEA; 
        cursor: pointer;
}
.share-btn:hover{
        background: green;
}