
.audioIcon{
    width: 35px;
    height: 35px;
   
   
}
.btnplay{
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    margin-right: 10px;
     
}
.btnmute{
    border-radius: 20px;
    border-style: none; 
    cursor: pointer;  
}